.form {
  margin-right: 15vw;
  margin-left: 15vw;

  text-align: center;

  @media (max-width: $screen-md) {
    margin-right: 7.5vw;
    margin-left: 7.5vw;
  }

  @media (max-width: $screen-sm) {
    margin-right: 3vw;
    margin-left: 3vw;
  }
}

.form h2 {
  margin: 0 0 1.3vw;
  padding: 0;

  font-size: 2.14vw;
  line-height: 1.18;

  color: $green;

  @media (max-width: $screen-md) {
    margin: 0 auto 2.7vw;
    padding-top: 6vw;
    width: 79vw;

    font-size: 5.4vw;
  }

  @media (max-width: $screen-sm) {
    margin-bottom: 5.7vw;
    padding-top: 1.6vw;

    font-size: 6.88vw;
  }
}

.form p {
  margin: 0 0 3.1vw;
  padding: 0;

  font-size: 0.83vw;
  line-height: 1.18;

  @media (max-width: $screen-md) {
    margin-bottom: 9.5vw;

    font-size: 2.088vw;
  }

  @media (max-width: $screen-sm) {
    margin-bottom: 11.5vw;
    font-size: 4.4vw;
  }
}

.form__order {
  display: flex;
  flex-wrap: wrap;

  padding-left: 8.2vw;

  @media (max-width: $screen-md) {
    flex-direction: column;

    margin-right: 16.2vw;
    margin-left: 16.2vw;
    padding-left: 0;
  }

  @media (max-width: $screen-sm) {
    margin-right: 3.2vw;
    margin-left: 3.2vw;
  }
}

.form__order p {
  margin: 0.3vw 0.9vw 1vw 0;

  @media (max-width: $screen-md) {
    margin: 0;
  }
}

.form__order-item {
  flex: 0 0 21vw;

  margin-bottom: 90px;
  padding: 0;
  max-width: 21vw;

  @media (max-width: $screen-md) {
    flex: 0 0 10.4vw;

    max-width: 52.5vw;
  }

  @media (max-width: $screen-sm) {
    flex: 0 0 16.4vw;
    max-width: 86.5vw;
  }
}

.form__order-item input {
  display: inline-block;

  padding: 1.1vw 2.5vw;
  width: 100%;

  vertical-align: middle;

  border: none;
  border-radius: 3.385vw;
  background-color: #e8f7ee;

  @media (max-width: $screen-md) {
    padding: 3.1vw 5.8vw 2.4vw;

    border-radius: 3.6vw;
  }

  @media (max-width: $screen-sm) {
    padding: 4.1vw 9.8vw 4vw;
    border-radius: 5.8vw;
  }
}

.form__order-item input::placeholder {
  font-size: 0.73vw;
  line-height: 1.4;

  color: #b2dac2;

  @media (max-width: $screen-md) {
    font-size: 14px;
    line-height: 16px;
  }
}

.form__order-btn {
  align-self: flex-start;

  margin-bottom: 0.7vw;

  @media (max-width: $screen-md) {
    align-self: center;
  }

  @media (max-width: $screen-sm) {
    margin-top: 2.5vw;
  }
}
