.main-header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
}

.main-header__inner {
  display: flex;

  margin-right: 20.3vw;
  margin-left: 20.3vw;
  padding-top: 2.2vw;

  @media (max-width: $screen-md) {
    margin: 0 14.7vw;
    padding-top: 45px;
  }

  @media (max-width: $screen-sm) {
    flex-direction: column;

    margin: 0 4vw;
    padding-top: 28px;
  }
}

.main-header__item {
  flex-shrink: 0;

  margin-right: 5vw;

  @media (max-width: $screen-md) {
    margin-right: 0;
  }

  @media (max-width: $screen-sm) {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }
}

.main-header__logo {
  font-size: 0.94vw;
  font-weight: 700;
  line-height: 1.4;

  color: $black;

  @media (max-width: $screen-md) {
    font-size: 2vw;
  }

  @media (max-width: $screen-sm) {
    margin-top: 3vw;

    font-size: 5vw;
    line-height: 6vw;

    color: $white;
  }
}

.main-header__toggler {
  display: none;

  @media (max-width: $screen-sm) {
    display: block;
  }
}

.main-header__wrapper {
  @media (max-width: $screen-sm) {
    position: relative;
    z-index: 10;

    background-color: $green;
  }
}

.js .main-header__wrapper {
  @media (max-width: $screen-sm) {
    background-color: transparent;
  }
}

.js .main-header--open .main-header__wrapper {
  @media (max-width: $screen-sm) {
    position: relative;
    z-index: 10;

    background-color: $green;
  }
}

.js .main-header__logo {
  @media (max-width: $screen-sm) {
    color: $black;
  }
}

.js .main-header--open .main-header__logo {
  @media (max-width: $screen-sm) {
    color: $white;
  }
}
