.main-nav {
  @media (max-width: $screen-sm) {
    overflow: hidden;

    width: 100%;
  }
}

.main-nav__list {
  margin-left: 5.6vw;

  @media (max-width: $screen-md) {
    justify-content: flex-end;

    margin-left: 9.2vw;
    padding-right: 8.8vw;
  }

  @media (max-width: $screen-sm) {
    margin: 0;
    margin-top: 15vw;
  }
}

.js .main-nav__list {
  @media (max-width: $screen-sm) {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;

    white-space: nowrap;

    border: 0;
  }
}

.js .main-header--open .main-nav__list {
  @media (max-width: $screen-sm) {
    position: static;

    overflow: visible;

    margin: 0;
    margin-top: 10vh;
    width: auto;
    height: auto;
  }
}
