<section class="advertisement">
  <div class="advertisement__leaves">
    <div class="advertisement__mint advertisement__mint--most"></div>
    <div class="advertisement__mint advertisement__mint--big"></div>
    <div class="advertisement__mint advertisement__mint--middle"></div>
    <div class="advertisement__mint advertisement__mint--small"></div>
    <div class="advertisement__mint advertisement__mint--least"></div>
    <div class="advertisement__mint advertisement__mint--scanty"></div>
  </div>
  <div class="advertisement__inner">
    <div class="advertisement__text-wrap">
      <h1>Доставка здорового питания для мам</h1>
      <p>Правильный и вкусный рацион для Вас и вашего ребенка</p>
      <a class="btn advertisement__link" href="#">Оформить заказ</a>
    </div>
    <div class="advertisement__slider">
      <div class="slider">
        <ul class="list-reset slider-list">
          <li class="slider__item">
            <span>Для беременных</span>
            <div class="slider__photo-1-wrap">
              <picture>
                <source type="image/webp" srcset="img/photo-1.webp 1x, photo-1.webp 2x">
                <img src="img/photo-1.png" srcset="img/photo-1@2x.png 2x" width="1065" height="737" alt="Беременная женщина">
              </picture>
            </div>
          </li>
          <li class="slider__item">
            <span>Для кормящих</span>
            <div class="slider__photo-2-wrap">
              <picture>
                <source type="image/webp" srcset="img/photo-2.webp 1x, photo-2.webp 2x">
                <img src="img/photo-2.png" srcset="img/photo-2@2x.png 2x" width="449" height="724" alt="Беременная женщина">
              </picture>
            </div>
          </li>
          <li class="slider__item">
            <span>Безопасные лакомства</span>
            <div class="slider__photo-3-wrap">
              <picture>
                <source type="image/webp" srcset="img/photo-3.webp 1x, photo-3.webp 2x">
                <img src="img/photo-3.png" srcset="img/photo-3@2x.png 2x" width="470" height="758" alt="Беременная женщина">
              </picture>
            </div>
          </li>
        </ul>
        <div class="slider-toggles">
          <button class="btn slider-toggles__btn slider-toggles__btn--prev slider__toggles-btn slider__toggles-btn--prev" type="button" aria-label="Next slide">Вперёд</button>
          <button class="btn slider-toggles__btn slider-toggles__btn--next slider__toggles-btn slider__toggles-btn--next" type="button" aria-label="Previous slide">Назад</button>
        </div>
        <div class="slider__btn-wrap">
          <button class="btn slider__btn-item slider__btn-item--1 slider__btn-active" aria-label="Слайд 1">
            Для беременных
          </button>
          <button class="btn slider__btn-item slider__btn-item--2" aria-label="Слайд 2">
            Для кормящих
          </button>
          <button class="btn slider__btn-item slider__btn-item--3" aria-label="Слайд 3">
            Безопасные лакомства
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
