<section class="features">
  <div class="features__inner">
    <h2>Почему мамы выбирают&nbsp;нашу доставку?</h2>
    <ul class="list-reset features__list">
      <li class="features__list-item features__list-item--ecology">
        <h3>Экологичность:</h3>
        <p>продукты выращиваются без применения химии</p>
      </li>
      <li class="features__list-item features__list-item--balance">
        <h3>Сбалансированность:</h3>
        <p>наши блюда составляют ведущие диетологи по уникальной рецептуре</p>
      </li>
      <li class="features__list-item features__list-item--individuality">
        <h3>Индивидуальность</h3>
        <p>для вашего выбора мы предоставляем большое кол-во вариантов блюд</p>
      </li>
      <li class="features__list-item features__list-item--benefit">
        <h3>Польза:</h3>
        <p>питаясь нашими продуктами, Вы можете быть уверены в своем здоровье и здоровье ребенка</p>
      </li>
    </ul>
  </div>
</section>
