<footer class="main-footer">
  <div class="main-footer__inner">
    <a class="logo main-footer__logo">Здоровая мама</a>
    <ul class="list-reset menu main-footer__menu">
      <li class="menu__item main-footer__menu-item">
        <a class="menu__link main-footer__menu-link" href="#">Важность правильного питания</a>
      </li>
      <li class="menu__item main-footer__menu-item">
        <a class="menu__link main-footer__menu-link" href="#">Почему мы?</a>
      </li>
      <li class="menu__item main-footer__menu-item">
        <a class="menu__link main-footer__menu-link" href="#">Где заказать?</a>
      </li>
    </ul>
    <ul class="list-reset main-footer__conditions">
      <li class="main-footer__conditions-item">
        <a class="main-footer__conditions-link" href="#">Политика конфиденциальности</a>
      </li>
      <li class="main-footer__conditions-item">
        <a class="main-footer__conditions-link" href="#">Условия онлайн-успользования</a>
      </li>
    </ul>
  </div>
</footer>
