<header class="main-header">
  <div class="main-header__wrapper">
    <div class="main-header__inner">
      <div class="main-header__item">
        <a class="logo main-header__logo">Здоровая мама</a>
        <button class="main-header__toggler burger" aria-label="Показать главное меню" title="Открыть">
          <span>Показать главное меню</span>
        </button>
      </div>
      <nav class="main-header__main-nav main-nav">
        <ul class="list-reset menu main-nav__list">
          <li class="menu__item">
            <a class="menu__link menu__link--current" href="#">Важность правильного питания</a>
          </li>
          <li class="menu__item menu__item--2">
            <a class="menu__link" href="#">Почему мы?</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Где заказать?</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
