<section class="product">
  <h2>Обязательные продукты для здорового питания:</h2>
  <div class="product__slider swiper-container">
    <ul class="list-reset product__slider-list swiper-wrapper">
      <li class="product__slider-item swiper-slide swiper-slide-active">
        <picture>
          <source type="image/webp" srcset="img/photo-meat.webp 1x, photo-meat.webp 2x">
          <img src="img/photo-meat.jpg" srcset="img/photo-meat@2x.jpg 2x" width="663" height="261" alt="Изображение разделанной тушки">
        </picture>
        <div class="product__slider-text">
          <h3>Мясо</h3>
          <p>Крольчатина, телятина, индейка, курица без кожи. Мясные блюда ежедневно должны присутствовать в питании в тушеном, запеченном или вареном виде.</p>
        </div>
      </li>
      <li class="product__slider-item swiper-slide swiper-slide-next">
        <picture>
          <source type="image/webp" srcset="img/photo-cheese.webp 1x, photo-cheese.webp 2x">
          <img src="img/photo-cheese.jpg" srcset="img/photo-cheese@2x.jpg 2x" width="663" height="261" alt="Изображение продуктов из молока">
        </picture>
        <div class="product__slider-text">
          <h3>Продукты из молока</h3>
          <p>Сыр, ряженка, простокваша, творог, йогурт без добавок, кефир. Желательно кушать их кормящей маме ежедневно либо через день.</p>
        </div>
      </li>
      <li class="product__slider-item swiper-slide swiper-slide-prev">
        <picture>
          <source type="image/webp" srcset="img/photo-vegetables.webp 1x, photo-vegetables.webp 2x">
          <img src="img/photo-vegetables.jpg" srcset="img/photo-vegetables@2x.jpg 2x" width="663" height="261" alt="Изображение овощей">
        </picture>
        <div class="product__slider-text">
          <h3>Овощи</h3>
          <p>брокколи, тыква, цветная капуста, репка, огурцы. Готовьте блюда из тушеных смесей без добавления масла. </p>
        </div>
      </li>
    </ul>
    <div class="slider-toggles">
      <button class="btn slider-toggles__btn product__slider-btn product__slider-btn--prev" type="button" aria-label="Next slide">Вперёд</button>
      <button class="btn slider-toggles__btn product__slider-btn product__slider-btn--next" type="button" aria-label="Previous slide">Назад</button>
    </div>
  </div>
</section>
