<section class="recommendation">
  <div class="recommendation__inner">
    <div class="recommendation__nutritionist-wrap">
      <div class="recommendation__img-wrap">
        <picture>
          <source type="image/webp" srcset="img/nutritionist.webp 1x, nutritionist.webp 2x">
          <img src="img/nutritionist.png" srcset="img/nutritionist@2x.png 2x" width="626" height="582" alt="Фото диетолога">
        </picture>
        <div class="recommendation__nutritionist-info">
          <b class="recommendation__nutritionist-name">Иванова Надежда Александровна</b>
          <b class="recommendation__nutritionist-position">Сертифицированный диетолог</b>
        </div>
      </div>
    </div>
    <div class="recommendation__text-wrap">
      <h2>Почему Вам нужно правильно питаться?</h2>
      <div class="diet-list__wrap">
        <ul class="list-reset recommendation__diet-list diet-list">
          <li class="diet-list__item">
            <p>Здоровый ребенок</p>
          </li>
          <li class="diet-list__item">
            <p>Повышение иммунитета</p>
          </li>
          <li class="diet-list__item">
            <p>Поддержание фигуры</p>
          </li>
        </ul>
        <ul class="list-reset recommendation__diet-list diet-list same-list">
          <li class="diet-list__item">
            <p>Отстутствие вредных компонентов</p>
          </li>
          <li class="diet-list__item">
            <p>Снижение нагрузки на&nbsp;органы пищеварения</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
