// Базовая типографика

$font-family: "Lato", "Arial", sans-serif;
$font-size:                   14px;
$line-height:                 1.4;

// Семантические цвета

$black:                       #000000;
$white:                       #ffffff;
$green:                       #27ae60;

// Ширины

$screen-sm:                   767px;
$screen-md:                   1139px;

// Ретина

$retina-dpi:                  144dpi;
$retina-dppx:                 1.5dppx;
